.THIS .header-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
   
}
.THIS .text-container {
    margin-right: 10px; /* Adjust the margin as needed */
}

.THIS .image-container img {
    width: 120px; /* Adjust the width as needed */
    
    text-align: right;
}
.THIS .header-text {
    font-weight: bold;
    font-size: 27px;
      text-align: left;
}