.THIS .textBold{
    font-weight:bold;
    font-size:14px;
    color:black;
}
 
.THIS .shiftPositionAbove{
    padding-bottom:20px;
}
.THIS .slds-dl_vertical__detail{
    white-space: pre-line;
    
}